body,
html {
  overflow-x: hidden; /* Menyembunyikan scroll horizontal */
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

section {
  padding-top: 3rem;
}

.jumbotron {
  padding-top: 3rem;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.btn-custom-button {
  background-color: #ffff00;
  border-color: white;
  color: white;
  box-shadow: 0 4px 6px #c7c7c7;
  border-radius: 2em;
}

.btn-custom-button:hover {
  background-color: #f0e68c;
  border-color: #cc8e35;
  transform: scale(1.05);
  /* Efek membesar sedikit */
  box-shadow: 0 6px 8px #585757;
  color: black;
}

.btn-edit {
  background-color: #1e90ff;
  border-color: #878787;
  color: white;
}

.btn-edit:hover {
  background-color: #90ee90;
  border-color: #878787;
}

.btn-dark {
  align-items: center;
  background-color: black;
}
.btn-dark:hover {
  align-items: center;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.btn-light {
  align-items: center;
  border-color: #aeaeae;
  color: red;
}
.btn-light:hover {
  align-items: center;
  border-color: #aeaeae;
  color: red;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.btn-custom {
  align-items: center;
  background-color: blue;
  color: white;
  text-align: center;
}
.btn-custom:hover {
  align-items: center;
  background-color: blue;
  color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.jumbotron img {
  border-radius: 50%/20%;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  object-fit: cover;
}
.card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
}

.typing-effect {
  text-align: left;
  font-size: 18px !important;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #ffd700;
  white-space: nowrap;
  overflow: hidden;
  width: 300px; /* Sesuaikan dengan panjang maksimum teks */
  min-height: 1.5em; /* Pastikan tinggi tetap */
  animation: typing 4s steps(40, end) forwards;
  border: none; /* Hilangkan semua border */
  border-right: none !important; /* Pastikan border cursor dihilangkan */
  caret-color: transparent !important; /* Hilangkan kursor jika muncul */
}

.footer {
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .typing-effect {
    font-size: 14px !important; /* Ukuran font lebih kecil */
    width: 100%; /* Lebar penuh di layar kecil */
    text-align: center; /* Posisi teks berada di tengah */
    border: none; /* Hilangkan semua border di mobile */
    border-right: none;
    caret-color: transparent; /* Hilangkan kursor */
    animation: typing 4s steps(40, end) forwards; /* Tanpa blink-caret */
  }
}

@media (max-width: 768px) {
  .jumbotron {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .jumbotron img {
    margin-bottom: 1rem;
    width: 180px;
  }
  .jumbotron .name {
    font-size: 18px !important;
  }
  .btn-edit {
    display: flex;
    background-color: #1e90ff;
    border-color: #878787;
    color: white;
    justify-content: center;
    flex-direction: none;
    margin-top: 1rem;
  }

  .btn-custom-button {
    display: flex;
    background-color: #ffff00;
    flex-direction: none;
    color: white;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .btn-dark {
    align-items: center;
  }
  .btn-secondary {
    align-items: center;
  }
  .btn-custom {
    align-items: center;
    background-color: blue;
    color: white;
    text-align: center;
  }

  .card {
    max-width: 100%;
    height: auto;
  }
  .card p {
    font-size: 14px;
  }
}
